body {
    font-size: 16px;
    color: #000000;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0
}

a,
a:hover {
    text-decoration: none;

}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header {
    box-shadow: 0 3px 6px rgba(174, 217, 250, .16);
    background-color: white;
    position: relative;
    transition: all .5s;
    padding: 25px 0;
}

.navbar-expand-lg {
    padding: 0;
}

.logo {
    margin: 0;
    margin-right: 50px;
}

.top-btngroup {
    display: flex;
    height: 100%;
    justify-content: end
}

.top-btngroup a {
    align-self: center;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #000000;
    padding: 0;
    padding: 0 15px;
    font-size: 1em
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
    color: #244094
}


.btn {
    display: flex;
    justify-content: center;
}

.header-btn {
    width: 140px;
    height: 47px;
    font-size: 1em;
    margin-left: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 29px;
    transition: all .5s;

}

.header-btn:hover {
    transition: all .5s;
}

.btn span {
    align-self: center;
}

.header-btn.signBtn {
    background-color: #244094;
    border: 1px solid #244094;
    color: white
}

.header-btn.logbtn:hover {
    background-color: #244094;
    color: white;

}

.header-btn.signBtn:hover {
    background-color: white;
    border: 1px solid #DDDDDD;
    color: black
}

.langbtn {

    height: 100%;
    display: flex;
}

.langbtn .btn {
    width: 90px;
    padding: 0;
    align-self: center;
    height: 35px;
    border-left: 1px solid #BFBFBF;
    position: relative;
    font-size: .875em;
}

.langbtn .btn:after {
    content: "\ea58";
    font-family: lineicons;
    align-self: center;
    margin-left: 10px;
    font-size: 12px;
}

.btn:focus {
    box-shadow: none;
}

.langbtn .dropdown-menu {
    min-width: auto;
}

.langbtn .dropdown-item:hover {
    background-color: #244094;
    color: white;
    transition: all .5s;
}

.hero {
    background-image: url(../images/skyscraper.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0;
    position: relative;
}
.clouds{
    position: absolute;
    background-image: url(../images/cloud.png);
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-size: cover;
    animation:  cloude 60s infinite linear;
    opacity: .4;
}
@keyframes cloude {
    0%{
background-position: 0;
    }
    100%{
        background-position: 3000px;
    }
}

.hero:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .45);
    top: 0;
    left: 0;
}

.herotext h1 {
    color: white;
    font-size: 2.125em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.herotext {
    max-width: 70%;
    margin: auto;
    color: white;
    text-align: center;
    margin-bottom: 50px;
}

.herotext span {
    font-weight: 500;
    font-size: 1.3em;
}

form {
    margin: 0
}

.heroSearch .herosearchInput {
    background-color: white;
    border-radius: 40px;
    border: 1px solid #BFBFBF;
    width: 100%;
    height: 55px;
    padding: 10px 25px;
    font-size: 18px;
    color: #818181
}

.heroSearch .herosearchInput:focus {
    box-shadow: none;
}

input:focus-visible {
    outline: 0;
}

.heroSearch .herosearchInput::placeholder {
    font-size: 1em;
    color: #818181
}

.heroSearch {
    position: relative;
}

.HeroSearchtn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #244094;
    color: white;
    display: flex;
    justify-content: center;
    right: 3px;
    top: 4px;
    border: 1px solid #244094
}

.HeroSearchtn i {
    align-self: center;
    font-size: 19px;
}

.HeroSearchtn:hover {
    background-color: transparent;
    color: #244094;
}

@media(min-width:1200px) {
    .header .container {
        max-width: 1280px;
    }
}

.hero p {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    color: white;
}

.heroDots {
    position: absolute;
    width: 8%;
    left: 20%;
    top: 10%;
}

.herotext {
    position: relative;
}

.hero .container {
    position: relative;
}

.socialLinks {
    position: absolute;
    right: 10%;
    z-index: 999999;
    bottom: 5%;
}

ul,
li {
    list-style: none;

}

.socialLinks a {
    color: white;
    font-size: 18px;
    align-self: center;
    transition: all .3s;


}

.socialLinks li {
    margin-bottom: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .25);
    justify-content: center;
    transition: all .3s;
}

.socialLinks li:hover {
    background-color: #fff;
    transition: all .3s;
transform: scale(1.1);}

.socialLinks li:hover a {
 
animation :swing 1s }

.twitter-link:hover a {
    color: #00acee;
    transition: all .3s;

}

.face-link:hover a {
    color: #4267B2;
    transition: all .3s;
}

.linked-link:hover a {
    color: #0072b1
}

.aboutUsSec {
    position: relative;
    padding-top: 100px;
    overflow: hidden;
}

.about-imag-bg {
    position: absolute;
    left: 0;
    top: 70;
    background-color: #F7F7F7;
    width: 550px;
    height: 420px;
    border-radius: 0 20px 20px 0;
    z-index: 1;
}

.about-Video-cont {
    position: relative;
    z-index: 22;
}

.about-video {
    width: 430px;
    height: 350px;
    border-radius: 20px;
    overflow: hidden;
}

.about-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-video {
    position: relative;
}

.about-video::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .13);
    content: "";
}

.playVideo {

    position: absolute;
    z-index: 999;
    top: 44%;
    left: 42%;
    display: flex;
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
}

.playVideo i {
    align-self: center;
    color: black;
}

.about-video-image {
    position: absolute;
    width: 120px;
    right: -50px;
    bottom: 50px;
    border-radius: 20px;
    overflow: hidden;
}

.about-dots {
    position: absolute;
    bottom: 0;
    width: 100px;
    z-index: -2222;
    right: -80px
}

.sectionTitle {
    font-size: 1.45em;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-text h6 {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-text p {
    font-size: .95em;
    color: black;
    margin-bottom: 25px;
}

.more-btn {
    width: 300px;
    height: 50px;
    border-radius: 37px;
    background-color: #244094;
    color: white;
    border: 1px solid #244094;
    font-size: .95em;
    font-weight: 500;

}

.more-btn:hover {
    background-color: transparent;
    color: #244094
}

.about-dots-main {
    position: absolute;
    top: 12%;
    right: -50px;
    width: 120px;
}

.Elite-Agrnt {
    padding-top: 80px;
    padding-bottom: 50px;
}

.Elite-Img {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    z-index: 1;
}

.Elite-member-details {
    margin: 0 20px;
    background-color: white;
    position: relative;
    z-index: 2;
    padding: 25px 15px;
    margin-top: -20%;
    border-radius: 14px;
    margin-bottom: 10px;
    box-shadow: 0 5px 8px rgba(174, 217, 250, .16);

}

.Elite-Member:hover .fa-heart {
    color: #DA1E37
}

.Elite-Member:hover .Elite-Img img {
    transform:  scale(1.1);
    transition: all .5s;
}

.fa-heart:hover{
    animation: pulse 1s infinite;
}
.Elite-Img img {
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
    transition: all .5s;
}

.Elite-memb-rating-exp {
    display: flex;

}

.exp-text {
    font-size: .875em;
    color: black;
    display: inline-flex;

}

.Elite-Member:hover .Elite-member-details {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .25);
    transition: all .5s;
}

.Elite-Member .Elite-member-details {
    transition: all .5s;

}

.exp-text:before {
    content: "";
    width: 1px;
    height: 17px;
    background-color: #BFBFBF;
    margin-right: 10px;
    margin-top: 6px
}

.Elite-member-details h6 {
    font-size: 1.125em;
    font-weight: 500;
    margin-bottom: 15px;
}

.reviewText i {
    color: #FDC500;
    font-size: 18px;
    margin-right: 5px;
    align-self: center;
}

.reviewText {
    font-size: .875em;
    align-self: center;
    display: flex;


}

.rev-num {
    font-weight: 300;
    font-size: .875em;
    align-self: center;
    margin-right: 10px;
    margin-left: 5px;
}

.memLoC {
    display: flex;
    margin-top: 10px;
}

.memLoC i {
    color: #244094;
    font-size: 22px;
}

.memLoC span {
    font-size: .875em;
    margin-left: 10px;
}

.member-details-header {
    display: flex;
    justify-content: space-between;
}

.member-details-header i {
    color: #969696;
    font-size: 18px;
}

.elite-slider .owl-dots {
    width: 100%;
    text-align: center;
    margin-top: 15px
}
.blueshadow-car{
    width: 300px;
    height: 300px;
    box-shadow: 0 255px 99px rgba(174, 217, 250, .25);
    position: absolute;
    right: -40px;
    top:30px;
    border-radius: 50%;
}
.blueshadow-car2{
    right: auto;
    left: -40px;
}
.elite-slider {
    padding:50px 0
}
.elite-slider.owl-carousel button.owl-dot {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    background-color: #BFBFBF;
    transition: all .5s;
}

.elite-slider.owl-carousel button.owl-dot.active {
    background-color: #244094;
    transform: scale(1.1);
}

.crownBox {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    right: 25px;
    top: 25px;
    position: absolute;
    z-index: 333;
}

.crownBox i {
    align-self: center;
    color: #FFB743;
    font-size: 20px;

}


.ourPartner .sectionTitle {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.partnerItem {
    transition: all .2s;
    width: 200px;
    overflow: hidden;
    height: 100px;
    display: block;
}

.partnerItem img {
    max-width: 100% !important;
    width: auto !important;
    object-fit: contain;
    height: 100%;
}

.partnerItem:hover {
    transform: scale(1.1);
    transition: all .2s;

}


.famousAgent {
    padding-top: 70px
}

.famousAgent .sectionTitle {
    font-size: 1.5em;
    margin-bottom: 35px;
}

.MostAgntBox {
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #DFDFDF;
    margin-bottom: 30px;
    transition: all .5s;
}

.MostAgntBox:hover img {
    transform: scale(1.1);
    transition: all .5s;
}

.MostAgntBox:hover .fa-heart {
    color: #DA1E37;
}

.MostAgntBox img {
    transition: all .5s;

}

.famousBoxImg {
    height: 45%;
    overflow: hidden;
}

.famousBoxImg img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.famous-member-details {
    margin: 0;
    padding-bottom: 10px;
    box-shadow: none;
}

.famous-box-footer {
    margin-left: 15px;
    border-top: 1px solid #DFDFDF;
    padding: 18px 0;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.ReadMoreLink {
    font-size: .875em;
    color: #244094;
    align-self: center;
}

.ReadMoreLink i {
    font-size: 1em;
}

.member-social {
    display: flex;
}

.member-social li {
    display: flex;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    justify-content: center;
    margin-right: 8px;
}

.member-social li a {
    align-self: center;
    color: white;
    font-size: 16px;
    transition: all .5s;

}

.member-social li:last-child a {
    color: #0E0E0E;
    font-size: .875em;
}

.member-social li:last-child:hover a {
    color: #244094
}

.member-social li:hover {
    background-color: transparent;
}

.whatsLink {
    background-color: #25D366;
    transition: all .5s;
}

.linkedLink {
    background-color: #0A66C2;
    transition: all .5s;

}

.whatsLink:hover a {
    color: #25D366
}

.linkedLink:hover a {
    color: #0A66C2
}

.famousAgent .more-btn {
    margin: auto;
}

.rating-section {
    padding-top: 70px;
    position: relative;
}

.rating-sec-background {
    position: absolute;
    right: 0;
    content: "";
    top: 135px;
    width: 51%;
    background-color: #F7F7F7;
    height: 400px;
    border-radius: 25px;
}

.rating-dots {
    position: absolute;
    left: -50px;
    width: 100px;
    top: 12px;
}

.rating-sec-title {
    display: inline-flex;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    background-color: #F8F8FA;
    justify-content: center;
    font-size: 1.2em;
    font-weight: bold;

}

.rating-sec-title span {
    align-self: center;

    color: #244094;
    margin: 30px 0;
}

.rating-sec-text h5 {
    font-size: 2.75em;
    font-weight: bold;
    margin-bottom: 19px;
    margin-top: 30px;
}

.rating-sec-text p {
    font-size: 1.125em;
    color: #707070
}

.MostAgntBox:hover {
    transition: all .5s;
    margin-top: -5px;
    box-shadow: 0 10px 20px rgba(174, 217, 250, .16);
}

.rating-sec-slider-box {
    background-color: white;
    padding: 30px 15px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #DDDDDD
}

.rating-sec-slider-box h4 {
    margin-bottom: 10px;
    font-size: 1.25em;
    font-weight: 500;
}

.rating-sec-slider-box ul li {
    display: inline-block;
    font-size: 1em;
    margin-right: 3px;
}

.rating-sec-slider-box .rating-sec-item-rating {
    display: flex;
    margin-bottom: 20px;
}

.rating-sec-slider-box ul i {
    color: #FDC500;
}

.rating-sec-item-rating span {
    font-size: 1em;
    color: black;
    align-self: center;
    margin-left: 2px;
    display: flex;
}

.rating-sec-slider-box p {
    font-size: .875em;
    margin-bottom: 20px;
}

.rating-slider-details {
    display: flex;
}

.rating-slider-mem-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 12px;
}

.rating-slider-details h6 {
    font-size: 1.125em;
    font-weight: 500;
    align-self: center;
}

.owl-carousel.rating-sec-slider .owl-nav button.owl-next,
.owl-carousel.rating-sec-slider .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #BFBFBF;
    border: 1px solid #DDDDDD;
    font-size: 25px;
}

.owl-carousel.rating-sec-slider .owl-nav button.owl-next:hover,
.owl-carousel.rating-sec-slider .owl-nav button.owl-prev:hover {
    background-color: #244094;
    color: white;
}

button:focus {
    box-shadow: none;
    outline: 0
}

.owl-carousel.rating-sec-slider .owl-nav button.owl-prev {
    margin-right: 18px;
}

.owl-carousel.rating-sec-slider {
    position: relative;
    margin-top: 120px;
}

.owl-carousel.rating-sec-slider .owl-nav {
    position: absolute;
    top: 50%;
    left: -50%
}

.rating-sec-slider-box:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, .16);
}

.owl-carousel.rating-sec-slider .owl-stage-outer {
    overflow: visible;
}

.owl-carousel.rating-sec-slider .owl-item {
    opacity: 0;
}

.owl-carousel.rating-sec-slider .owl-item.active {
    opacity: 1;
}

.subscribe-box {
    background-image: url(../images/sub-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 60px;
    z-index: 2;
}

.subscribeSec {
    position: relative;
}

.subscribeSec {
    padding: 100px 0;
padding-top:150px
}

.personImg {
    position: absolute;
    right: 10px;
    width: 25%;
    z-index: 3;
    bottom: 0;
}

.sub-scribe-dots {
    position: absolute;
    left: 10%;
    top: 23%;
    width: 140px;
    z-index: -1;
}

.subscribe-box h3 {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}

.subscribe-box p {
    font-size: 1em;
    margin-bottom: 30px;
}

.subscribeBtn {
    background-color: #244094;
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 35px;
    border: #244094 1px solid;
    font-size: .8758em;
    font-weight: 500;
}

.subscribeBtn i {
    margin-left: 10px
}

.subscribeBtn:hover {
    background-color: transparent;
    color: #244094
}

.footer {
    position: relative;
    background-image: url(../images/Footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
    color: white;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, .2);
    padding: 30px 0;
    margin-top: 60px
}

.footerSocial {
    display: flex;
    margin-left: auto;
    float: right;
}

.footerSocial ul li {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
    font-weight: 22px;

}

.footerSocial ul {
    align-self: center;
}

.footerSocial span {
    align-self: center;
    color: white;
    margin-right: 25px;
    font-size: .875em;
    font-weight: 500;
}

.footerSocial ul li a {
    color: white;
}
.footerSocial li:hover{
   animation:  wobble 1s;
}

.copyright {
    color: white;
    font-size: .875em;
    font-weight: 500;
}

.footerLogo {
    width: 180px;
    margin-bottom: 30px;
}

.footerAddress h6 {
    font-size: 1em;
    color: white;
    margin-bottom: 20px;
}

.footerAddress p {
    font-size: .875em;
    font-weight: 500;
    color: white;

}

.footerAddress {
    margin-bottom: 50px;
}

.footerLocation p {
    font-size: .875em;
    margin-bottom: 15px;
}

.footerMenu li {
    margin-bottom: 20px;
}

.footerMenu li h6 {
    color: white;
    font-weight: bold;
    font-size: 1em;
}

.footerMenu li a {
    color: white;
    font-size: 1em;
}

.footerMenu {
    margin-top: 76px
}
.footerApps{
    margin-top:30px
}
.footerApps li {
    margin-bottom: 15px;
    width: 250px;
}
.footerApps h6{
    font-size: .875em;
    font-weight: 600;
}